.ui-grid {
    padding: 10px;
}
.ui-grid-row{
    padding: 10px;
}

.data-container {
    padding: 20px;
}

.kinopoisk-link {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline !important;
}

.inline-filter-table {
  display: inline-table;
  border: 1px #DDDDDD solid;
  margin-right: 0.5em;
}

.four-digit-input {
  width: 4em;
}