<div class="data-container">
  <p-growl [value]="msgs" sticky="sticky"></p-growl>
  <div class="datatable">
    <div class="ui-widget-header" style="padding: .5em .75em .5em .75em; border-bottom: 0 none">
      <table>
        <tr>
          <td>
            <i class="fa fa-search" style="margin:4px 4px 0 0" ></i>
          </td>
          <td>
            <app-search-input [value]="globalSearch" (onValueChanged)="globalSearchInitiated($event)" inputPlaceholder="Global Search"
              pTooltip="Searches in all movie information (including expandable details)" tooltipPosition="top" [inputStyle]="{'width' : '100%'}"></app-search-input>
          </td>
        </tr>
      </table>
      <table class="inline-filter-table">
        <tr>
          <td>
            <i class="fa fa-user-o"></i>
          </td>
          <td>
            <p-autoComplete [(ngModel)]="personsSelected" [suggestions]="personsFiltered" (completeMethod)="filterPersons($event)"
              [minLength]="1" placeholder="Director/Writer/Actor" field="name" [multiple]="true"
              (onSelect)="onPersonSelected($event)" (onUnselect)="onPersonSelected($event)" [size]="30" [scrollHeight]="'30em'">
              <template let-person>
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                  <table>
                    <tr>
                      <td>
                        <img [src]="person.photos[0] ? config.IMAGE_BASEURL + person.photos[0].path: 'resources/images/no-photo.jpeg'" class="personThumbnail">
                      </td>
                      <td>
                        <div>{{person.name}}</div>
                        <sub>{{person.original_Name}}</sub>
                      </td>
                    </tr>
                  </table>
                </div>
              </template>
            </p-autoComplete>
          </td>
          <td>
            <p-inputSwitch onLabel="All" offLabel="Any" [(ngModel)]="personsMatchAll" (onChange)="onPersonsMatchAllToggled($event)"></p-inputSwitch>
          </td>
          <td>
            <button pButton type="text" (click)="actionResetPersons()" icon="fa-close" class="white-button" tabindex="0"></button>
          </td>
        </tr>
      </table>
      <table class="inline-filter-table">
        <tr>
          <td>
            <i class="fa fa-film"></i>
          </td>
          <td>
            <p-multiSelect defaultLabel="< Select Genre(-s) >&nbsp;&nbsp;&nbsp;" [options]="genreSelectItems" [(ngModel)]="genresSelected" (onChange)="onGenreSelected($event)"></p-multiSelect>
          </td>
          <td>
            <p-inputSwitch onLabel="All" offLabel="Any" [(ngModel)]="genresMatchAll" (onChange)="onGenresMatchAllToggled($event)"></p-inputSwitch>
          </td>
          <td>
            <button pButton type="text" (click)="actionResetGenres()" icon="fa-close" class="white-button" tabindex="0"></button>
          </td>
        </tr>
      </table>
      <table class="inline-filter-table">
        <tr>
          <td>
            <i class="fa fa-flag-o"></i>
          </td>
          <td>
            <p-multiSelect defaultLabel="< Select Country(-ies) >&nbsp;&nbsp;" [options]="countrySelectItems" [(ngModel)]="countriesSelected" (onChange)="onCountrySelected($event)"></p-multiSelect>
          </td>
          <td>
            <p-inputSwitch onLabel="All" offLabel="Any" [(ngModel)]="countriesMatchAll" (onChange)="onCountriesMatchAllToggled($event)"></p-inputSwitch>
          </td>
          <td>
            <button pButton type="text" (click)="actionResetCountries()" icon="fa-close" class="white-button" tabindex="0"></button>
          </td>
        </tr>
      </table>
    </div>
    <app-modal-spinner [loading]="loading" selector=".grid tbody">
      <p-dataTable #dt [value]="movies"
        [paginator]="true" [rows]="10" [rowsPerPageOptions] = "[7, 10, 15, 20, 30, 50]" [responsive]="true" expandableRows="true" [responsive]="true" [stacked]="stacked"
        [totalRecords]="totalMovieCount" (onLazyLoad)="loadMoviesLazy($event)" [lazy]="true" styleClass="grid">
        <header>Movies ({{totalMovieCount}})</header>
        <p-column expander="true" styleClass="col-icon"></p-column>
        <p-column field="title" header="Title">
          <template pTemplate="header">
            <div>
              <div (click)="toggleSort($event, 'Title');" class="sortable">Title
                <span class="fa" [ngClass]="sortCSSClass('Title')"></span>
              </div>
              <app-search-input [value]="titleSearch" (onValueChanged)="titleSearchInitiated($event)" inputPlaceholder="Title"></app-search-input>
            </div>
          </template>
          <template let-movie="rowData" pTemplate="body">
            <span  [innerHTML]="movie.title"></span>
          </template>
        </p-column>
        <p-column field="original_Title" header="Original Title">
          <template pTemplate="header">
            <div>
              <div (click)="toggleSort($event, 'Original_Title');" class="sortable">Original Title
                <span class="fa" [ngClass]="sortCSSClass('Original_Title')"></span>
              </div>
              <app-search-input [value]="originalTitleSearch" (onValueChanged)="originalTitleSearchInitiated($event)" inputPlaceholder="Original Title"></app-search-input>
            </div>
          </template>
          <template let-movie="rowData" pTemplate="body">
            <span  [innerHTML]="movie.original_Title"></span>
          </template>
        </p-column>
        <p-column field="year" header="Year">
          <template pTemplate="header">
            <app-input-with-slider-header header="Year" [sortOrder]="sortValuesHolder.Year"
                                          [min]="filterRanges ? filterRanges.minYear : this.DEFAULT_MINYEAR" [max]="filterRanges ? filterRanges.maxYear : this.DEFAULT_MAXYEAR"
                                          [(value)]="yearRange" (sortOrderChange)="toggleSortOrder($event, 'Year');" (valueChange)="onYearFilterChanged($event)"></app-input-with-slider-header>
          </template>
        </p-column>
        <p-column field="kinopoisk_Rating" header="Kinopoisk">
          <template pTemplate="header">
            <app-input-with-slider-header header="Kinopoisk" [sortOrder]="sortValuesHolder.Kinopoisk_Rating" [step]="0.1"
                                          [min]="filterRanges ? filterRanges.minKinopoiskRating : this.DEFAULT_MINKINOPOISKRATING" [max]="filterRanges ? filterRanges.maxKinopoiskRating : DEFAULT_MAXKINOPOISKRATING"
                                          [(value)]="kinopoiskRatingRange" (sortOrderChange)="toggleSortOrder($event, 'Kinopoisk_Rating');" (valueChange)="onKinopoiskFilterChanged($event)"></app-input-with-slider-header>
          </template>
        </p-column>
        <p-column field="imdb_Rating" header="IMDB">
          <template pTemplate="header">
            <app-input-with-slider-header header="IMDB" [sortOrder]="sortValuesHolder.IMDB_Rating" [step]="0.1"
                                          [min]="filterRanges ? filterRanges.minIMDBRating : this.DEFAULT_MINIMDBRATING" [max]="filterRanges ? filterRanges.maxIMDBRating : this.DEFAULT_MAXIMDBRATING"
                                          [(value)]="imdbRatingRange" (sortOrderChange)="toggleSortOrder($event, 'IMDB_Rating');" (valueChange)="onIMDBFilterChanged($event)"></app-input-with-slider-header>
          </template>
        </p-column>
        <p-column field="duration" header="Duration">
          <template pTemplate="header">
            <app-input-with-slider-header header="Duration" [sortOrder]="sortValuesHolder.Duration"
                                          [min]="filterRanges ? filterRanges.minDuration : this.DEFAULT_MINDURATION" [max]="filterRanges ? filterRanges.maxDuration : this.DEFAULT_MAXDURATION"
                                          [(value)]="durationRange" (sortOrderChange)="toggleSortOrder($event, 'Duration');" (valueChange)="onDurationFilterChanged($event)"></app-input-with-slider-header>
          </template>
        </p-column>
        <p-column styleClass="colButton">
          <template pTemplate="header">
          </template>
          <template let-movie="rowData" pTemplate="body">
            <button type="button" pButton (click)="onMovieLookup(movie)" icon="fa-search"></button>
          </template>
        </p-column>
        <template let-movie pTemplate="rowexpansion">
          <app-movie-summary [movie]="movie"></app-movie-summary>
        </template>
        <footer>
          <div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-undo" style="float:left" (click)="actionReset()" label="Reset"></button></div>
        </footer>
      </p-dataTable>
    </app-modal-spinner>
  </div>
</div>
