<div class="ui-grid-row ui-fieldset-legend ui-corner-all ui-state-default ui-unselectable-text" style="padding: 8px;">
  <div class="ui-grid-col-2">
    <span class="ui-fieldset-legend ui-corner-all ui-unselectable-text label" (click)="toggle($event)">
      <span class="ui-fieldset-toggler fa fa-w" [ngClass]="{'fa-minus': !collapsed,'fa-plus':collapsed}"></span>
      {{legend}}
    </span>
  </div>
  <div class="ui-grid-col-10 ui-fieldset-content-wrapper" [@fieldsetContent]="collapsed ? 'hidden' : 'visible'" 
                [ngClass]="{'ui-fieldset-content-wrapper-overflown': collapsed||animating}" style="overflow: hidden;">
    <div class="ui-fieldset-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
